<div class="card">
  <div class="card-body">
    <h4 class="card-title">Crie sua conta gratuitamente!</h4>
    <br>
    <form [formGroup]="formCadastroUsuario" (ngSubmit)="onSubmit()">
      <input formControlName="nomeCompleto" class="form-control" type="text" placeholder="Nome completo">
      <br>
      <input formControlName="email" class="form-control" type="email" placeholder="E-mail">
      <br>
      <input formControlName="telefone" class="form-control" type="phone" placeholder="Telefone">
      <br>
      <input formControlName="senha" class="form-control" type="password" placeholder="Senha">
      <br>
      <button type="submit" class="btn btn-outline-primary" style="margin-bottom: 10px">Criar conta</button>
    </form>
  </div>
</div>