<div class="input-group mb-3 busca">
    <input id="nome" type="text" class="form-control" placeholder="Procurar por pontos de venda..." aria-label="Procurar por pontos de venda" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-warning" type="button">Procurar</button>
    </div>
</div>