.input-busca {
    width: 500px; 
    background: rgba(255, 255, 255, 0) !important;
    color: #ffffff !important;
}

.input-busca::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.input-busca::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.busca {
    height: 50px;
}
