<div class="container-fluid bg-gradient">

  <div class="row align-items-center">

    <div class="offset-md-4 col-md-4">

      <br>
      <div>
        <h1 class="logo">iQuentinhas</h1>
        <h4 class="slogan">Imagine um slogan bem aqui</h4>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Login</h4>
          <br>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="E-mail">
            <br>
            <input class="form-control" type="email" placeholder="Senha">
            <br>
            <button type="button" class="btn btn-outline-primary" style="margin-bottom: 10px">Login</button>
            <br>
            <a routerLink="/cadastrar" routerLinkActive="active">Não tem uma conta? Criar conta</a>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>