<router-outlet></router-outlet>

<!-- <div class="container-fluid bg-gradient">
  <div class="row" style="padding-top: 50px">
    <div class="offset-md-1 col-md-6">
      <div>
          <h1 class="logo">iQuentinhas</h1>
          <h4 class="slogan">Imagine um slogan bem aqui</h4>
      </div>
      <div style="margin-top: 150px">
          <app-busca></app-busca>
      </div>
    </div>
    <div class="offset-md-1 col-md-3 offset-md-1">
        
    </div>
  </div>
</div> -->