.bg-gradient {
    background: #fe8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
}

.logo {
    font-size: 45pt;
    color: #ffffff;
}

.slogan {
    font-size: 15pt;
    color: rgba(255, 255, 255, 0.8);
}

.link-login {
    color: #ffffff;
}