<div #myModal class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-gradient">
  <div class="row" style="padding-top: 50px">
    <div class="offset-md-1 col-md-6">
      <div>
          <h1 class="logo">iQuentinhas</h1>
          <h4 class="slogan">Imagine um slogan bem aqui</h4>
      </div>
      <div style="margin-top: 150px">
          <app-busca></app-busca>
      </div>
    </div>
    <div class="offset-md-1 col-md-3 offset-md-1">
        <app-cadastro></app-cadastro>
        <br>
        <a class="link-login" routerLink="/login" routerLinkActive="active">Já possui uma conta? Fazer login</a>
    </div>
  </div>
</div>
